@{
    ViewData["Title"] = "Bank Employee Menu";
}

<h4>Bank Employee Menu</h4>

<ul>
    <li><a asp-action="CreateCustomer" asp-controller="BankEmployee">Create Customer</a></li>
    <li><a asp-action="DeleteCustomer" asp-controller="BankEmployee">Delete Customer</a></li>
    <li><a asp-action="Deposit" asp-controller="BankEmployee">Deposit Money</a></li>
    <li><a asp-action="Withdraw" asp-controller="BankEmployee">Withdraw Money</a></li>
    <li><a asp-action="ListCustomers" asp-controller="BankEmployee">List Customers</a></li>
</ul>
