@{
    ViewData["Title"] = "Customer Menu";
}

<h4>Customer Menu</h4>

<ul>
    <li><a asp-action="ViewTransactionHistory" asp-controller="Customer">View Transaction History</a></li>
    <li><a asp-action="Deposit" asp-controller="Customer">Deposit Money</a></li>
    <li><a asp-action="Withdraw" asp-controller="Customer">Withdraw Money</a></li>
</ul>
